body{
    width: 100%;
    background: #000;
    .my_menu {
        height: 100%;
        width: 559px;
        position: fixed;
        top: 0;
        right: -559px;
        z-index: 300;
        transition: 1s;
    }
    .my_menu_bg {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0);
        transition: 1s;
        z-index: -1;
    }
    .my_menu_bg_on{
        background: rgba(0, 0, 0, 0.75);
        z-index: 299;
    }
    .myMenuOn {
        right: 0px;
    }
    header{
        position: absolute;
        z-index: 100;
        top: 5px;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 64px;
        font-size: 13px;
        font-family: "Helvetica-bold";
        h1{
            font-size: 40px;
            line-height: 40px;
            flex-grow: 1;
            img{
                width: 70px;
                height: 30px;
            }
        }
        ul{
            display: flex;
            justify-self: flex-end;
            color: white;
            &:nth-child(2){
                li{
                    padding-left: 66px;
                }
            }
            &:nth-child(3){
                padding-left: 80px;
                li{
                    padding-left: 27px;
                }
            }
            &:nth-child(4){
                li{
                    padding-left: 24px;
                }
            }
        }
    }
    main{
        
    }
}