@font-face {
    font-family: 'YoonGothic710';
    src: url("../../myMenu/webfont/YoonGothic710.woff") format('woff');
}
@font-face {
    font-family: 'YoonGothic720';
    src: url("../../myMenu/webfont/YoonGothic720_1.woff") format('woff');
}
@font-face {
    font-family: 'YoonGothic730';
    src: url("../../myMenu/webfont/YoonGothic730_1.woff") format('woff');
}
@font-face {
    font-family: 'YoonGothic740';
    src: url("../../myMenu/webfont/YoonGothic740.woff") format('woff');
}
@font-face {
    font-family: 'YoonGothic750';
    src: url("../../myMenu/webfont/YoonGothic750.woff") format('woff');
}
@font-face {
    font-family: 'YoonGothic760';
    src: url("../../myMenu/webfont/YoonGothic760.woff") format('woff');
}
@font-face {
    font-family: 'YoonGothic770';
    src: url("../../myMenu/webfont/YoonGothic770.woff") format('woff');
}
@font-face {
    font-family: 'YoonGothic780';
    src: url("../../myMenu/webfont/YoonGothic780.woff") format('woff');
}
@font-face {
    font-family: 'YoonGothic790';
    src: url("../../myMenu/webfont/YoonGothic790.woff") format('woff');
}
@font-face {
    font-family: 'Helvetica75';
    src: url("../../myMenu/webfont/Helvetica75-Bold.woff") format('woff');
}

@keyframes diagonal{
    0%{
        bottom: -10px;
        right: 20px;
    }
    50%{
        bottom: 0px;
        right: 15px;
    }
    100%{
        bottom: -10px;
        right: 20px;
    }
}

@keyframes sel_movie_move {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes event_under_bar {
    from {
        width: 0;
    }
    to {
        width: 954px;
    }
}

@keyframes event_up_num {
    from {
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes event_up_text_span {
    from {
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes event_down_h4 {
    from {
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes event_down_p {
    from {
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes event_down_btn {
    from {
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

body{
    width: 100%;
    background: #000;
    .my_menu {
        height: 100%;
        width: 559px;
        position: fixed;
        top: 0;
        right: -559px;
        z-index: 300;
        transition: 1s;
    }
    .my_menu_bg {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0);
        transition: 1s;
        z-index: -1;
    }
    .my_menu_bg_on{
        background: rgba(0, 0, 0, 0.75);
        z-index: 299;
    }
    .myMenuOn {
        right: 0px;
    }
    .red_btn{
        width: 218px;
        height: 47.34px;
        font-family: 'YoonGothic770';
        a{
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            background-color: #E30613;
            color: #fff;
            line-height: 47.34px;
            padding-left: 26.5px;
            position: relative;
            font-size: 16px;
        }
        img {
            position: absolute;
            top: 22.4px;
            right: 25px;
        }
    }
    header{
        position: absolute;
        z-index: 100;
        top: 5px;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 64px;
        font-size: 13px;
        font-family: "Helvetica-bold";
        h1{
            font-size: 40px;
            line-height: 40px;
            flex-grow: 1;
            img{
                width: 70px;
                height: 30px;
            }
        }
        ul{
            display: flex;
            justify-self: flex-end;
            color: white;
            &:nth-child(2){
                li{
                    padding-left: 66px;
                }
            }
            &:nth-child(3){
                padding-left: 80px;
                li{
                    padding-left: 27px;
                }
            }
            &:nth-child(4){
                li{
                    padding-left: 24px;
                }
            }
        }
    }
    main{
        .visual {
            height: 736px;
            overflow: hidden;
            width: 100%;
            position: relative;
            padding-left: 255px;
            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: -1;
            }
            .vis_upper_text{
                overflow: hidden;
                padding-top: 169.3px;
                padding-left: 1px;
                position: relative;
                p{
                    color: #fff;
                    font-size: 52px;
                    font-family:'Helvetica75';
                    padding-bottom: 34.3px;
                    span{
                        display: block;
                    }
                    .vis_innertext1{
                        position: relative;
                        left: -500px;
                        transition: 0.5s;
                    }
                    .vis_innertext2{
                        position: relative;
                        left: -210px;
                        transition: 0.5s;
                    }
                    .vis_innertext3{
                        position: relative;
                        left: -750px;
                        transition: 0.5s;
                    }
                }
                .reserve_btn {
                    position: relative;
                    left: -220px;
                    transition: 0.5s;
                }
                &::before {
                    display: block;
                    content: "";
                    width: 1px;
                    height: 440px;
                    background: #fff;
                    position: absolute;
                    left: 3px;
                    bottom: 90px;
                    opacity: 0.2;
                }
            }
            .vis_lower_text{
                float: right;
                text-align: right;
                padding-top: 38.4px;
                padding-right: 166.1px;
                font-size: 20px;
                color: #fff;
                overflow: hidden;
                p{
                    transform: translateX(-100%);
                    transition: 0.5s;
                    font-family: 'YoonGothic730';
                }
                span{
                    display: block;
                }
            }
            .movie_controler{
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                content: "";
                width: 100%;
                height: 13px;
                cursor: pointer;
            }
            .movie_underbar{
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                content: "";
                width: 0px;
                height: 13px;
                background-color: #E30613;
                transition: 0.5s;
            }
        }
        .selection{
            color: #fff;
            padding: 66.2px 181px 157px 170px;
            .sel_upper_text{
                width: 1578px;
                font-size: 15px;
                .sel_left_text{
                    font-family: 'YoonGothic770';
                    p{
                        position: relative;
                        span{
                            padding-left: 4.3px;
                            img{
                                position: absolute;
                                bottom: 6px;
                                width: 7px;
                                height: 7px;
                            }
                        }
                    }
                }
                .sel_right_text{
                    width: 100%;
                    font-family: 'YoonGothic760';
                    padding-top: 66.5px;
                    display: flex;
                    justify-content: flex-end;
                    p {
                        span{
                            display: block;
                            &:nth-child(1){
                                letter-spacing: 0px;
                            }
                            &:nth-child(2){
                                letter-spacing: 0.13px;
                            }
                        }
                    }
                }
            }
            .sel_movies {
                width: 100%;
                padding-top: 70.6px;
                display: flex;
                >ul {
                    width: 731px;
                    overflow: hidden;
                }
                .sel_movie_texts{
                    display: flex;
                    flex-direction: row;
                    width: 733.75px;
                    height: 115px;
                    position: relative;
                    padding-top: 13px;
                    margin-bottom: 48.8px;
                    transform: translateX(-101%);
                    .movie_texts1 {
                        padding-right: 34.9px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        img{
                            margin-top: 8px;
                            display: block;
                            width: 28px;
                            height: 28px;
                        }
                        p{
                            font-size: 17px;
                            font-family: 'YoonGothic750';
                            color: #6C6C6C;
                        }
                    }
                    .movie_texts2 {
                        font-size: 45px;
                        font-family: 'YoonGothic770';
                        line-height: 1.1;
                        span {
                            display: block;
                        }
                    }
                    a{
                        position: absolute;
                        animation: diagonal;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                    }
                }
                .sel_movie_poster{
                    position: relative;
                    overflow: hidden;
                    transform: translateX(-101%);
                    .poster {
                        width: 100%;
                        transition: 1s;
                    }
                    .more_img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        transition: 1s;
                    }
                    &:hover .poster{
                        transform: scale(1.1);
                    }
                    &:hover .more_img {
                        opacity: 1;
                    }
                }
                .sel_movies_left {
                    width: 731px;
                    margin-right: 117px;
                    .left_upper{
                        padding-bottom: 89.5px;
                    }
                }
                .sel_movies_right {
                    width: 731px;
                    padding-top: 288.4px;
                    .left_lower{
                        padding-top: 104px;
                    }
                }
            }
            .sel_movie_effect1 {

                animation: sel_movie_move;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;
            }
            .sel_movie_effect2 {
                animation: sel_movie_move;
                animation-duration: 1.5s;
                animation-delay: 0.5s;
                animation-fill-mode: forwards;
            }
        }
        .event {
            display: flex;
            width: 100%;
            border: 1px solid #fff;
            color: #fff;
            .bigscreen{
                width: 1281px;
                height: 803px;
                position: relative;
                .event_screen{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    border-right:1px solid #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 1;
                    display: none;
                    >img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                    }
                    .screen_upper{
                        display: flex;
                        align-items: center;
                        padding: 154.6px 0 0 120.2px;
                        position: relative;
                        .screen_number {
                            font-family: 'YoonGothic750';
                            font-size: 250px;
                            color: #E30613;
                            opacity: 1;
                            overflow: hidden;
                            span{
                                display: block;
                                animation: event_up_num;
                                animation-duration: 1s;
                                animation-fill-mode: forwards;
                            }
                        }
                        .screen_text {
                            font-family: 'YoonGothic770';
                            font-size: 45px;
                            line-height: 1.1;
                            padding-bottom: 35px;
                            overflow: hidden;
                            span {
                                animation: event_up_text_span;
                                animation-duration: 1s;
                                animation-fill-mode: forwards;
                                transform: translateX(-100%);
                                display: block;
                                transition: 0.5s;
                                animation-delay: 0.5s;
                            }
                        }
                        &::after {
                            position: absolute;
                            bottom: 30px;
                            left: 165px;
                            display: block;
                            background: #E30613;
                            width: 0px;
                            height: 1px;
                            content: "";
                            transition: 1s;
                            animation: event_under_bar;
                            animation-duration: 1s;
                            animation-fill-mode: forwards;
                        }
                    }
                    .screen_lower {
                        float: right;
                        position: relative;
                        padding-right: 168px;
                        padding-top: 45.6px;
                        .screen_lower_text {
                            overflow: hidden;
                            h4 {
                                font-family: 'YoonGothic730';
                                font-size: 17px;
                                padding-bottom: 15.7px;
                                transition: 0.5s;
                                overflow: hidden;
                                span {
                                    transform: translateX(-100%);
                                    display: block;
                                    animation: event_down_h4;
                                    animation-duration: 1s;
                                    animation-delay: 0.8s;
                                    animation-fill-mode: forwards;
                                }
                            }
                            p {
                                color: #A7A7A7;
                                padding-bottom: 35.6px;
                                line-height: 1.24;
                                transition: 0.5s;
                                overflow: hidden;
                                span {
                                    transform: translateX(-100%);
                                    display: block;
                                    animation: event_down_p;
                                    animation-delay: 1.2s;
                                    animation-duration: 1s;
                                    animation-fill-mode: forwards;
                                }
                            }
                        }
                        .event_btn {
                            position: absolute;
                            bottom: -45.6px;
                            right: 168px;
                            overflow: hidden;
                            a {
                                transform: translateX(-100%);
                                transition: 0.5s;
                                display: block;
                                animation-delay: 1.5s;
                                animation: event_down_btn;
                                animation-duration: 1s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
    
                }
                .on {
                    display: block;
                }
            }
            .event_list {
                width: 640px;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 100%;
                    .screens{
                        width: 50%;
                        height: 50%;
                        padding: 51.5px 0 55.4px 54px;
                        transition: 0.5s;
                        position: relative;
                        border: 0.5px solid #fff;
                        // div{
                        //     width: 100%;
                        //     height: 100%;
                        //     position: absolute;
                        //     top: 0;
                        //     left: 0;
                        //     z-index: 10;
                        // }
                        h1 {
                            font-family: 'YoonGothic730';
                            font-size: 200px;
                            opacity: 0.3;
                            line-height: 1;
                            padding-bottom: 27.1px;
                        }
                        p{
                            font-family: 'YoonGothic760';
                            font-size: 16px;
                            span {
                                display: block;
                            }
                        }
                        &:hover {
                            background: #E30613;
                        }
                    }
                    .off {
                        display: none;
                    }
                }
            }
        }
        .movie_info {
            display: flex;
            flex-direction: column;
            background: #fff;
            color: #000;
            padding-top: 104px;
            .movie_info_list{
                display: flex;
                padding-bottom: 129.8px;
                padding-left: 61px;
                .info_left {
                    width: 694px;
                    border-top: 1px solid #7F7F7F;
                    margin-right: 62px;
                    .info_left_text {
                        padding-top: 41.2px;
                        padding-bottom: 65.8px;
                        h4 {
                            font-family: 'YoonGothic750';
                            font-size: 20px;
                            span {
                                display: block;
                            }
                        }
                        p{
                            font-family: 'YoonGothic740';
                            font-size: 17px;
                            color: #A09D9D;
                            letter-spacing: -0.1px;
                            span {
                                display: block;
                            }
                        }
                        .middle_text {
                            padding: 17px 0;
                        }
                    }
                    .info_left_img {
                        width: 658px;
                        height: 375px;
                        position: relative;
                        padding-bottom: 9.2px;
                        overflow: hidden;
                        .info_poster {
                            width: 100%;
                            transition: 1s;
                        }
                        .play_btn {
                            transition: 1s;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            cursor: pointer;
                        }
                        &:hover .info_poster {
                            transform: scale(1.1);
                        }
                        &:hover .play_btn {
                            opacity: 0;
                        }
                    }
                    .info_left_bottom {
                        font-family: 'YoonGothic770';
                        font-size: 15px;
                        color: #757575;
                        padding-top: 9.2px;
                        position: relative;
                        >div {
                            position: absolute;
                            bottom: -10px;
                            left: 178px;
                        }
                    }
                }
                .info_right {
                    font-family: 'YoonGothic760';
                     ul {
                         display: flex;
                         .info_right1 {
                             margin-right: 37.1px;
                         }
                         .info_right2 {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            > p {
                                padding-top: 10.2px;
                                color: #E30613;
                                font-family: 'YoonGothic770';
                            }
                         }
                         li {
                             width: 488px;
                             overflow: hidden;
                             .info_right_poster {
                                 width: 100%;
                                 height: 322px;
                                 overflow: hidden;
                                 position: relative;
                                 .poster {
                                     width: 100%;
                                     transition: 1s;
                                     overflow: hidden;
                                 }
                                 .more_btn {
                                     position: absolute;
                                     top: 21px;
                                     right: 21px;
                                     transition: 1s;
                                 }
                                 &:hover .poster {
                                    transform: scale(1.1);
                                 }
                                 &:hover .more_btn {
                                     opacity: 0;
                                 }
                             }
                             .info_right_text {
                                 width: 100%;
                                 border: 1px solid #E1E1E1;
                                 ul {
                                     width: 100%;
                                     display: flex;
                                     flex-direction: column;
                                     li {
                                         width: 418;
                                         height: 82px;
                                         padding: 19.6px 38.1px;
                                         display: flex;
                                         align-items: center;
                                         justify-content: space-between;
                                         position: relative;
                                         h4 {
                                             font-size: 15px;
                                            color: #B5B5B5;
                                         }
                                         p{
                                            font-size: 14px;
                                            font-family: 'YoonGothic750';
                                         }
                                         &:not(:last-child) {
                                             &::after {
                                                 position: absolute;
                                                 bottom: 0;
                                                 display: block;
                                                 content: "";
                                                 height: 1px;
                                                 width: 418px;
                                                 background: #E2E2E2;
                                             }
                                         }
                                         .rate_number {
                                             display: flex;
                                             align-items: center;
                                             font-size: 36px;
                                             color: #E30613;
                                             img {
                                                 margin-left: 3.5px;
                                                }
                                            }
                                            .genre_box {
                                                display: flex;
                                                align-items: center;
                                                p{
                                                    padding-left: 5px;
                                                }
                                            }
                                    }
                                 }
                             }
                         }
                     }
                }
            }
            .mask {
                img {
                    width: 100%;
                }
            }
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        .white_footer {
            width: 100%;
            height: 253px;
            background: #fff;
            padding: 47px 0 0 207px;
            .white_upper {
                display: flex;
                align-items: center;
                padding-bottom: 30.3px;
                padding-right: 228px;
                .footer_logo {
                    margin-right: 150px;
                }
                .menu{
                    display: flex;
                    padding-right: 97px;
                    font-family: 'YoonGothic770';
                    font-size: 14px;
                    letter-spacing: -1.5px;
                    color: #989898;
                    li {
                        &:not(:last-child) {
                            padding-right: 24px;
                        }
                    }
                }
            }
            .white_lower {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 414px;
                padding-right: 234px;
                >p {
                    font-family: 'YoonGothic760';
                    font-size: 14px;
                    color: #989898;
                }
                div {
                    display: flex;
                    align-items: center;
                    font-family: 'YoonGothic760';
                    font-size: 15px;
                    img {
                        margin-left: 9px;
                    }
                }
            }
        }
        .gototheTop {
            position: absolute;
            top: 50%;
            right: 93px;
            transform: translateY(-65%);
        }
        .black_footer {
            height: 279px;
            color : #C6C6C6;
            padding: 66.4px 0 0 254px;
            background-color: #252526;
            div {
                display: flex;
                justify-content: space-between;
                padding-right: 253px;
                ul {
                    display: flex;
                    font-family: 'YoonGothic770';
                    font-size: 14px;
                    padding-bottom: 35px;
                    li {
                        &:not(:last-child) {
                            padding-right: 24px;
                        }
                    }
                }
                .Family_Site{
                    margin: 0px 230px 0px 280px;
                    width: 212px;
                    height: 40px;
                    overflow: hidden;
                    transition: 0.5s;
                    &:hover{
                        height: 200px;
                    }
                    line-height: 37px;
                    font-size: 14px;
                    font-family: "Yun740";
                    color: #535353;
                    background-color: black;
                    ul{
                        span{
                            width: 100px;
                            display: inline-block;
                        }
                        margin-left: 10px;
                        width: 190px;
                        height: 38px;
                        border-bottom: 2px solid #535353;
                        li{
                            transition: 0.3s;
                            &:not(:first-child):hover{
                                background-color: wheat;
                            }
                        }
                    }
                }
            }
            address {
                font-family: 'YoonGothic740';
                font-size: 14px;
                color: #535353;
                padding-bottom: 14px;
                span {
                    display: block;
                }
            }
            >p {
                font-family: 'YoonGothic740';
                font-size: 14px;
                color: #535353;
            }
        }
    }
}